.second {
  height: 1080px;
  background-color: color('base', 'secondary');
  position: relative;
  padding-bottom: 175px;

  @include breakpoint('larger') {
    height: 1080px;
  }
}

.third {
  height: 1080px;
  background-color: color('base', 'primary');
  position: relative;
  padding-bottom: 175px;
}

.fourth {
  height: 1080px;
  background-color: color('base', 'secondary');
  position: relative;
  padding-bottom: 175px;

  @include breakpoint('larger') {
    height: 1080px;
  }
}

.standout {
  max-height: 40%;
}

.head-wrapper {
  margin-right: 1em;
}


.image-s1 {
  display: none;

  @include breakpoint('larger') {
    display: block;
  }
}

.image-s2 {
  display: block;
  
  @include breakpoint('larger') {
    display: none;
  }
}

.text-wrapper {
  margin-top: 2em;
  text-align: center;

  p {
    text-align: left;
    margin-top: .5em;

    @include breakpoint('larger') {
      font-size: 18px;
    }
  }
}

.reactive-icon-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 600px;
}

.reactive-icons-wrapper {
  position: relative;
  flex-basis: 425px;
  flex-grow: 1;
  border-right: none;

  @include breakpoint('customlarge') {
    border-right: dotted;
  }
}

.self-care-info-wrapper {
  position: relative;
  text-align: center;
  flex-basis: 425px;
  flex-grow: 1;
  border-top: dotted;
  margin-top: 150px;

  @include breakpoint('customlarge') {
    border-top: none;
    margin-top: 0;
  }
}

.self-care-explanation-wrapper {
  position: absolute;
  color: color('type', 'ww');
  top: 80%;
  left: 3%;

  @include breakpoint('cellbig') {
    left: 8%;
  }

  @include breakpoint('small') {
    left: 2%;
  }

  @include breakpoint('custommedium') {
    left: 0;
  }

  @include breakpoint('medium') {
    left: -1%;
  }

  @include breakpoint('customlarge') {
    top: 35%;
    left: 12%;
  }

  @include breakpoint('large') {
    top: 35%;
    left: 6%;
  }
}

#self-care-explanation-title {
  margin-bottom: .5em;
}

.circle-base {
  position: absolute;
  border-radius: 50%;
}

.circle-left {
  width: 125px;
  height: 125px;
  background: color('base', 'highlight');
  border: 3px solid color('type', 'ww');

  @include breakpoint('customlarge') {
    width: 150px;
    height: 150px;
  }
}

.circle-right {
  width: 125px;
  height: 125px;
  background: color('base', 'highlight');
  border: 3px solid color('type', 'ww');
  top: 15%;
  left: 30%;

  @include breakpoint('cellsmall') {
    top: 15%;
    left: 35%;
  }

  @include breakpoint('cellbig') {
    top: 15%;
    left: 40%;
  }

  @include breakpoint('customlarge') {
    top: 5%;
    left: 40%;
    width: 150px;
    height: 150px;
  }
}

// .circle-trans1 {
//   transform: translate(80%, 45%);
// }
// .circle-trans2 {
//   transform: translate(-80%, 45%);
// }
// .circle-trans3 {
//   transform: translate(100%, -80%);
// }
// .circle-trans4 {
//   transform: translate(-100%, -80%);
// }
// .circle-trans5 {
//   transform: translate(0%, -165%);
// }

.circle-trans1 {
  top: 0;
  left: 30%;
  background-image: url("/images/hearticon100x100.png");
  background-repeat: no-repeat;
  background-position: 10px 15px;

  @include breakpoint('cellsmall') {
    top: 0;
    left: 35%;
    background-position: 10px 15px;
  }

  @include breakpoint('cellbig') {
    top: 0;
    left: 40%;
    background-position: 10px 15px;
  }

  @include breakpoint('custommedium') {
    top: 0;
    left: 40%;
    background-position: 10px 15px;
  }

  @include breakpoint('medium') {
    top: 0%;
    left: 40%;
    background-position: 10px 15px;
  }
  
  @include breakpoint('customlarge') {
    top: 5%;
    left: 37%;
    background-position: 23px 26px;
  }

  @include breakpoint('large') {
    top: 5%;
    left: 40%;
    background-position: 23px 26px;
  }
}
.circle-trans2 {
  top: 40%;
  left: 0%;
  background-image: url("/images/friendshipicon100x100.png");
  background-repeat: no-repeat;
  background-position: 9px 8px;

  @include breakpoint('cellsmall') {
    top: 35%;
    left: 5%;
    background-position: 9px 8px;
  }

  @include breakpoint('cellbig') {
    top: 35%;
    left: 15%;
    background-position: 9px 8px;
  }

  @include breakpoint('custommedium') {
    top: 35%;
    left: 20%;
    background-position: 9px 8px;
  }

  @include breakpoint('medium') {
    top: 35%;
    left: 24%;
    background-position: 9px 8px;
  }
  
  @include breakpoint('customlarge') {
    top: 28%;
    left: 12%;
    background-position: 22px 22px;
  }

  @include breakpoint('large') {
    top: 28%;
    left: 18%;
    background-position: 22px 22px;
  }
}
.circle-trans3 {
  top: 40%;
  left: 60%;
  background-image: url("/images/brainicon100x100.png");
  background-repeat: no-repeat;
  background-position: 9px 8px;

  @include breakpoint('cellsmall') {
    top: 35%;
    left: 65%;
    background-position: 9px 8px;
  }

  @include breakpoint('cellbig') {
    top: 35%;
    left: 65%;
    background-position: 9px 8px;
  }

  @include breakpoint('custommedium') {
    top: 35%;
    left: 60%;
    background-position: 9px 8px;
  }

  @include breakpoint('medium') {
    top: 35%;
    left: 56%;
    background-position: 9px 8px;
  }
  
  @include breakpoint('customlarge') {
    top: 28%;
    left: 62%;
    background-position: 22px 22px;
  }

  @include breakpoint('large') {
    top: 28%;
    left: 62%;
    background-position: 22px 22px;
  }
}
.circle-trans4 {
  top: 95%;
  left: 9%;
  background-image: url("/images/runningicon100x100.png");
  background-repeat: no-repeat;
  background-position: 9px 9px;

  @include breakpoint('cellsmall') {
    top: 90%;
    left: 17%;
    background-position: 9px 9px;
  }

  @include breakpoint('cellbig') {
    top: 95%;
    left: 23%;
    background-position: 9px 9px;
  }

  @include breakpoint('custommedium') {
    top: 95%;
    left: 25%;
    background-position: 9px 9px;
  }

  @include breakpoint('medium') {
    top: 95%;
    left: 29%;
    background-position: 9px 9px;
  }

  @include breakpoint('customlarge') {
    top: 56%;
    left: 18%;
    background-position: 22px 22px;
  }

  @include breakpoint('large') {
    top: 56%;
    left: 23%;
    background-position: 22px 22px;
  }
}
.circle-trans5 {
  top: 95%;
  left: 52%;
  background-image: url("/images/meditationicon100x100.png");
  background-repeat: no-repeat;
  background-position: 9px 1px;

  @include breakpoint('cellsmall') {
    top: 90%;
    left: 53%;
    background-position: 9px 1px;
  }

  @include breakpoint('cellbig') {
    top: 95%;
    left: 57%;
    background-position: 9px 1px;
  }

  @include breakpoint('custommedium') {
    top: 95%;
    left: 55%;
    background-position: 9px 1px;
  }

  @include breakpoint('medium') {
    top: 95%;
    left: 51%;
    background-position: 9px 1px;
  }

  @include breakpoint('customlarge') {
    top: 56%;
    left: 56%;
    background-position: 22px 15px;
  }

  @include breakpoint('large') {
    top: 56%;
    left: 57%;
    background-position: 22px 15px;
  }
}

.title-wrapper {
  text-align: center;

  h4 {
    font-weight: 200;
    font-style: italic;
    margin-top: -.8em;
  }
}