.second {
  height: 1080px;
  background-color: color('base', 'secondary');
  position: relative;
  padding-bottom: 175px;

  // @include breakpoint('cellsmall') {
  //   height: 975px;
  // }

  // @include breakpoint('medium') {
  //   height: 950px;
  // }

}

.third {
  height: 1000px;
  background-color: color('base', 'primary');
  position: relative;
  padding-bottom: 175px;

  @include breakpoint('cellsmall') {
    height: 975px;
  }

  @include breakpoint('medium') {
    height: 950px;
  }

}

.fourth {
  height: 925px;
  background-color: color('base', 'secondary');
  position: relative;
  padding-bottom: 175px;

  @include breakpoint('cellsmall') {
    height: 875px;
  }

  @include breakpoint('small') {
    height: 700px;
  }

  @include breakpoint('medium') {
    height: 750px;
  }

}

.fifth {
  height: 1080px;
  background-color: color('loud', 'darker');
  position: relative;
  // padding-bottom: 175px;

  @include breakpoint('larger') {
    height: 1080px;
  }
}

.sixth {
  height: 1220px;
  background-color: color('base', 'primary');
  // background-image: url("https://www.transparenttextures.com/patterns/dark-stripes.png");
  // background-image: url("https://www.transparenttextures.com/patterns/debut-light.png");
  // background-image: url("https://www.transparenttextures.com/patterns/exclusive-paper.png");
  // background-image: url("https://www.transparenttextures.com/patterns/light-sketch.png");
  // background-image: url("https://www.transparenttextures.com/patterns/redox-01.png");
  // background-image: url("https://www.transparenttextures.com/patterns/retro-intro.png");
  // background-image: url("https://www.transparenttextures.com/patterns/tex2res2.png");
  background-image: url("/images/darkhoneycombbackground.png");
  position: relative;
  // padding-bottom: 175px;

  @include breakpoint('cellbig') {
    height: 1200px;
  }

  @include breakpoint('small') {
    height: 1180px;
  }

  @include breakpoint('medium') {
    height: 1160px;
  }

  @include breakpoint('large') {
    height: 1140px;
  }

  @include breakpoint('larger') {
    height: 1120px;
  }
}

.seventh {
  height: 1080px;
  background-color: color('loud', 'darker');
  position: relative;
  // padding-bottom: 175px;

  @include breakpoint('larger') {
    height: 1080px;
  }
}

.flex-align-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  padding: 0 2em
}

.flex-align-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  padding: 0 2em
}

.head-wrapper {
  margin-right: 1em;
  display:none;

  @include breakpoint('small') {
    display: block;
  }
}


.image-s1 {
  display: none;

  @include breakpoint('larger') {
    display: block;
  }
}

.image-s2 {
  display: none;
  
  @include breakpoint('medium') {
    display: block;
  }

  @include breakpoint('larger') {
    display: none;
  }
}

.image-s3 {
  display: block;
  
  @include breakpoint('medium') {
    display: none;
  }
}

.text-wrapper {
  margin-top: 2em;
  text-align: center;

  h1 {
  text-shadow: 1px 1px 1px color('type', 'bb');
  }

  p {
    text-align: left;
    margin-top: .5em;

    @include breakpoint('larger') {
      font-size: 18px;
    }
  }
}

.reactive-icon-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 600px;
}

.reactive-icons-wrapper {
  position: relative;
  flex-basis: 425px;
  flex-grow: 1;
  border-right: none;

  @include breakpoint('customlarge') {
    border-right: dotted;
  }
}

.self-care-info-wrapper {
  position: relative;
  text-align: center;
  flex-basis: 425px;
  flex-grow: 1;
  border-top: dotted;
  margin-top: 150px;

  @include breakpoint('customlarge') {
    border-top: none;
    margin-top: 0;
  }
}

.self-care-explanation-wrapper {
  position: absolute;
  color: color('type', 'ww');
  top: 80%;
  left: 3%;

  @include breakpoint('cellbig') {
    left: 8%;
  }

  @include breakpoint('small') {
    left: 2%;
  }

  @include breakpoint('custommedium') {
    left: 0;
  }

  @include breakpoint('medium') {
    left: -1%;
  }

  @include breakpoint('customlarge') {
    top: 35%;
    left: 12%;
  }

  @include breakpoint('large') {
    top: 35%;
    left: 6%;
  }
}

#self-care-explanation-title {
  margin-bottom: .5em;
  text-shadow: 1px 1px 1px color('type', 'bb');
}

.circle-base {
  position: absolute;
  border-radius: 50%;
}

.circle-left {
  width: 125px;
  height: 125px;
  background: color('base', 'highlight');
  border: 3px solid color('type', 'ww');

  @include breakpoint('customlarge') {
    width: 150px;
    height: 150px;
  }
}

.circle-right {
  width: 125px;
  height: 125px;
  background: color('base', 'highlight');
  border: 3px solid color('type', 'ww');
  top: 15%;
  left: 30%;

  @include breakpoint('cellsmall') {
    top: 15%;
    left: 35%;
  }

  @include breakpoint('cellbig') {
    top: 15%;
    left: 40%;
  }

  @include breakpoint('customlarge') {
    top: 5%;
    left: 40%;
    width: 150px;
    height: 150px;
  }
}

.circle-trans1 {
  top: 0;
  left: 30%;
  background-image: url("/images/hearticon100x100.png");
  background-repeat: no-repeat;
  background-position: 10px 15px;

  @include breakpoint('cellsmall') {
    top: 0;
    left: 35%;
    background-position: 10px 15px;
  }

  @include breakpoint('cellbig') {
    top: 0;
    left: 40%;
    background-position: 10px 15px;
  }

  @include breakpoint('custommedium') {
    top: 0;
    left: 40%;
    background-position: 10px 15px;
  }

  @include breakpoint('medium') {
    top: 0%;
    left: 40%;
    background-position: 10px 15px;
  }
  
  @include breakpoint('customlarge') {
    top: 5%;
    left: 37%;
    background-position: 23px 26px;
  }

  @include breakpoint('large') {
    top: 5%;
    left: 40%;
    background-position: 23px 26px;
  }
}
.circle-trans2 {
  top: 40%;
  left: 0%;
  background-image: url("/images/friendshipicon100x100.png");
  background-repeat: no-repeat;
  background-position: 9px 8px;

  @include breakpoint('cellsmall') {
    top: 35%;
    left: 5%;
    background-position: 9px 8px;
  }

  @include breakpoint('cellbig') {
    top: 35%;
    left: 15%;
    background-position: 9px 8px;
  }

  @include breakpoint('custommedium') {
    top: 35%;
    left: 20%;
    background-position: 9px 8px;
  }

  @include breakpoint('medium') {
    top: 35%;
    left: 24%;
    background-position: 9px 8px;
  }
  
  @include breakpoint('customlarge') {
    top: 28%;
    left: 12%;
    background-position: 22px 22px;
  }

  @include breakpoint('large') {
    top: 28%;
    left: 18%;
    background-position: 22px 22px;
  }
}
.circle-trans3 {
  top: 40%;
  left: 60%;
  background-image: url("/images/brainicon100x100.png");
  background-repeat: no-repeat;
  background-position: 9px 8px;

  @include breakpoint('cellsmall') {
    top: 35%;
    left: 65%;
    background-position: 9px 8px;
  }

  @include breakpoint('cellbig') {
    top: 35%;
    left: 65%;
    background-position: 9px 8px;
  }

  @include breakpoint('custommedium') {
    top: 35%;
    left: 60%;
    background-position: 9px 8px;
  }

  @include breakpoint('medium') {
    top: 35%;
    left: 56%;
    background-position: 9px 8px;
  }
  
  @include breakpoint('customlarge') {
    top: 28%;
    left: 62%;
    background-position: 22px 22px;
  }

  @include breakpoint('large') {
    top: 28%;
    left: 62%;
    background-position: 22px 22px;
  }
}
.circle-trans4 {
  top: 95%;
  left: 9%;
  background-image: url("/images/runningicon100x100.png");
  background-repeat: no-repeat;
  background-position: 9px 9px;

  @include breakpoint('cellsmall') {
    top: 90%;
    left: 17%;
    background-position: 9px 9px;
  }

  @include breakpoint('cellbig') {
    top: 95%;
    left: 23%;
    background-position: 9px 9px;
  }

  @include breakpoint('custommedium') {
    top: 95%;
    left: 25%;
    background-position: 9px 9px;
  }

  @include breakpoint('medium') {
    top: 95%;
    left: 29%;
    background-position: 9px 9px;
  }

  @include breakpoint('customlarge') {
    top: 56%;
    left: 18%;
    background-position: 22px 22px;
  }

  @include breakpoint('large') {
    top: 56%;
    left: 23%;
    background-position: 22px 22px;
  }
}
.circle-trans5 {
  top: 95%;
  left: 52%;
  background-image: url("/images/meditationicon100x100.png");
  background-repeat: no-repeat;
  background-position: 9px 1px;

  @include breakpoint('cellsmall') {
    top: 90%;
    left: 53%;
    background-position: 9px 1px;
  }

  @include breakpoint('cellbig') {
    top: 95%;
    left: 57%;
    background-position: 9px 1px;
  }

  @include breakpoint('custommedium') {
    top: 95%;
    left: 55%;
    background-position: 9px 1px;
  }

  @include breakpoint('medium') {
    top: 95%;
    left: 51%;
    background-position: 9px 1px;
  }

  @include breakpoint('customlarge') {
    top: 56%;
    left: 56%;
    background-position: 22px 15px;
  }

  @include breakpoint('large') {
    top: 56%;
    left: 57%;
    background-position: 22px 15px;
  }
}

.title-wrapper {
  text-align: center;

  h1 {
  text-shadow: 1px 1px 1px color('type', 'bb');
  }

  h4 {
    font-weight: 200;
    margin-top: -.8em;
  }
}

.quiz-box {
  margin-top: 2em;
  width: 100%;
  border: dotted 2px;
  border-radius: 16px;
  background-color: color('loud', 'darker');
  height: 550px;

  @include breakpoint('small') {
    height: 450px;
  }

  @include breakpoint('medium') {
    height: 400px;
  }

  @include breakpoint('large') {
    height: 350px;
  }

  .quiz-question {
    color: color('quiet', 'light');
    width: 100%;
    margin-top: 4em;
    padding: 0 2em;
    text-align: center;
    font-size: 18px;

    @include breakpoint('small') {
      font-size: 20px;
    }

    @include breakpoint('medium') {
      font-size: 22px;
    }

    @include breakpoint('large') {
      font-size: 24px;
    }
  }

  .quiz-answers {
    width: 100%;
    margin-top: 2em;
    padding: 0 2em;
    text-align: center;

    .button {
      margin-right: 2em;
      margin-top: 2em;
      width: 14em;
    }
  }
}

.package-container {
  width: 100%;
  height: 100%;

  @include breakpoint('medium') {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .package-option {
    display: block;
    text-align: center;
    height: 400px;
    margin: 0 auto;
    width: 60%;
    padding: 2em 2em;

    @include breakpoint('medium') {
      display: inline-block;
      flex-basis: 0;
      flex: 1 1 0px;
    }

    &:nth-child(2) {
      border-top: dotted 1px;
      border-bottom: dotted 1px;

      @include breakpoint('medium') {
      border-left: dotted 1px;
      border-right: dotted 1px;
      border-top: none;
      border-bottom: none;
      }
    }
  }
}

.contact-form {
  form {
    display: flex;
    flex-direction: column;

    @include breakpoint('small') {
      justify-content: center;
    }

    .form-field {
      // border: solid 2px;
      display: flex;
      margin-bottom: 1em;
      flex-direction: column;
      
      @include breakpoint('small') {
        flex-direction: row;
      }

      label {
        flex-basis: 30%;
        text-align: left;
        margin-right: 1em;

        @include breakpoint('small') {
          text-align: right;
          align-self: center;
        }
      }

      input[type=text], input[type=tel], input[type=email], textarea, select {
        flex-basis: 38%;
        margin-top: .5em;
        background-color: rgba(color('loud', 'light'), 0.2);
        // text-transform: uppercase; 
        // border: 2px groove #fff; 
        border: none;
        border-radius: 6px;
        color: #fff; 
        min-height: 35px; 
        padding: 8px 8px;

        @include breakpoint('small') {
          margin-top: 0;
          min-height: 40px;
          min-width: 80px;
          flex-basis: 46%
        }

        @include breakpoint('medium') {
          margin-top: 0;
          min-height: 40px;
          min-width: 80px;
          flex-basis: 38%
        }
      }

      textarea {
        min-height: 80px;

        @include breakpoint('small') {
          margin-top: 0;
          height: 120px;
        }

        &::placeholder {
          color: color('type', 'gg')
        }
      }

      select {
        margin-bottom: .5em;
        
         @include breakpoint('small') {
          margin-bottom: 0;
        }

        option {
          color: #000;
        }
      }

      input[type=submit] {
        flex-basis: 10%;
        margin: auto 31.5%;
        padding: 10px 40px;
        // background-color: rgba(color('loud', 'lighter'), 0.2);
        background-color: transparent;
        color: color('type', 'ww');
        border-style: ridge;
        border-radius: 6px;
      }


      // option:not(:checked) {
      //   background-color: rgba(133, 144, 170, 1)
      // }
    }
  }
}