.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(color('base', 'quiet'), 0.77);
  padding: 0 3.5em 0 3.5em;
  width: 100%;
  height: 70px;
  z-index: 100;

  @include breakpoint('custommedium') {
    padding: 0 3em 0 3em;
  }

  @include breakpoint('medium') {
    padding: 0 .72em 0 .72em;
  }

  @include breakpoint('large') {
    padding: 0 4em 0 4em;
  }

  &.burger-open {

    .navbar--links {
      background-color: rgba(color('quiet', 'base'), .77);
      position: absolute;
      left:0;
      top:70px;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0;
      padding: 0;
      height: 228px;

      @include breakpoint("medium") {
        height: auto;
        width: auto;
        background-color: transparent;
        position: static;
        display: block
      }
    }

    .navbar--link {
      position: relative;
      width: 100%;
      padding: 0;
      margin: .5em 0em 0em 1.5em;
      text-align: left;

      @include breakpoint("medium") {
        width: auto;
        margin: 1em .6em 1em .6em;
        padding: 1em; 
        text-align:center;
      }
    }
  }

  &--links {
    overflow: hidden;
    height: 0px;
    width: 0px;
    transition: height .3s ease-out; 

    @include breakpoint('medium') {
      height: auto;
      width: auto;
    }
  }

  &--link {
    display: inline-block;
    font-size: 18px;
    font-family: $heading-font-family;
    font-weight: $font-semibold;
    color: color('type', 'ww');
    cursor: pointer;
    margin: .5em;
    padding: 1em; 
    text-align:center;
    transition: transform 0.3s linear;
    
    a { 
      color: inherit!important;
      text-decoration: none;
     } 

    @include breakpoint('medium') {
      margin: 1em .6em 1em .6em;
    }

    @include breakpoint('custom extra large') {
      margin: 1em;
    }

    &:hover {
      transform: translate(0px, -.25em);
      color: color('primary', 'dark');
      font-weight: $font-bold;
    }

   &.active {
     color: color('primary', 'dark');
     font-weight: $font-bold;
   }
  }

  &--logo {
    margin-right: auto;
    padding-left: 2px;
  }
}

//   *!
//  * Hamburgers
//  * @description Tasty CSS-animated hamburgers
//  * @author Jonathan Suh @jonsuh
//  * @site https://jonsuh.com/hamburgers
//  * @link https://github.com/jonsuh/hamburgers
//  */

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  @include breakpoint('medium') {
    display: none;
  }
}
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; 
  }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

  .hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

  .hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }