.content {
  width: 100%;
  height: 100%;
}

.container {
  width: calc(100% - 4em);
  max-width: 1444px;
  margin: 0 auto;
  border: 0;
}

#blue-curve {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  fill: #3b8beb;
  stroke: none;

  @include breakpoint('extra large') {
    display: none;
  }
}

#red-curve {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  fill: color('loud', 'dark');
  stroke: none;

  @include breakpoint('extra large') {
    display: none;
  }
}

.blue-diagonal-down{
  width: 0;
  height:0;
  border-top: 150px solid color('base', 'primary');
  border-left: 100vw solid transparent;
  border-right: 0;
  border-bottom: 0
}

.blue-diagonal-up{
  width: 0;
  height:0;
  border-bottom: 150px solid color('base', 'primary');
  border-left: 100vw solid transparent;
  position: absolute;
  bottom:0px;
}

.black-diagonal-down{
  width: 0;
  height:0;
  border-top: 150px solid color('loud', 'darker');
  border-left: 100vw solid transparent;
  border-right: 0;
  border-bottom: 0
}

.black-diagonal-up{
  width: 0;
  height:0;
  border-bottom: 150px solid color('loud', 'darker');
  border-left: 100vw solid transparent;
  position: absolute;
  bottom:0px;
}

// .svgcolor-light {
//   position: absolute;
//   bottom: 0;
//   left: 0;
// }

.accordion { 
  background-color: #fefffa;
  color: black;
  max-width: 800px;
  margin: 50px auto;
  border-top: 6px solid color('base', 'primary');
  line-height: 1.6;
  box-shadow: 2px 2px 5px 0px #000;

  ul{
    margin-left:1em;
  }
  
  &__item {
    border-bottom: 1px solid #dce7eb;
  }

  &__title {
    padding: 15px 15px 15px 40px;
    display: block;
    position: relative;
    font-weight: 400;

    &:before {
      font-family: FontAwesome;
      content: "\f055";
      font-size: 20px;
      position: absolute;
      left: 15px;
      top: 12px;
      color: color('base', 'primary');
    }
    
    h5 {
      border-bottom: 1px solid #fefffa;
      display:inline-block;
    }

    &:hover,
    &:focus {
      cursor: pointer;
      outline: none;
      h5 {
        border-bottom-color: #a8bdc4;
        display:inline-block;
      }
    }

    .is-expanded & {
      &:before {
        content: "\f056";
      }

    }
  }

    &__content-inner {
        padding: 0 40px 10px 40px;
    }

  &__content {
    transition: height 0.3s ease-out;
    height: 0;
    overflow: hidden;
  }
}

.card-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  &-vertical {
    flex-direction: column;

    @include breakpoint('larger') {
      margin-left: 1.5em;
    }
  }
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
  transition: 0.3s;
  background-color: transparent;
  color: white;
  border: solid 3px white;
  margin: 3em 0em 0em 0em;
  max-width: 306px;
  // flex-grow: 1;

  h4, p {
    margin-bottom: .5em;
  }

  img {
    border-radius: 3px 3px 0 0;
  }

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
  }
  
  @include breakpoint('small') {
    max-width: 406px;
    margin: 3em 0em 0em 1.5em;
  }

  @include breakpoint('medium') {
    max-width: 606px;
  }

  @include breakpoint('laptop') {
    max-width: 406px;
  }

  &--container {
    padding: 4px 16px;
    max-width: 306px;

    @include breakpoint('small') {
      max-width: 406px;
    }

    @include breakpoint('medium') {
      max-width: 606px;
    }

    @include breakpoint('laptop') {
      max-width: 406px;
    }
  }

  &.big {
    max-width: 306px;
    // flex-grow: 2;
    
    .card--container {
      max-width: 306px;

      @include breakpoint('small') {
        max-width: 406px;
      }

      @include breakpoint('medium') {
        max-width: 606px;
      }

      @include breakpoint('larger') {
        max-width: 806px;
      }
    }

    @include breakpoint('small') {
      max-width: 406px;
    }

    @include breakpoint('medium') {
      max-width: 606px;
    }

    @include breakpoint('larger') {
      max-width: 806px;
    }
  }
}

.parallax {
  /* The image used */
  background-image: url("/images/ptest2000.jpg");

  // /* Set a specific height */
  // height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}