.content {
  width: 100%;
  height: 100%;
}

.container {
  width: calc(100% - 4.5em);
  max-width: 1170px;
  margin: 0 auto;
  border: 0;
}

#blue-curve {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  fill: #3b8beb;
  stroke: none;
}

// .red-divide {
//   position:absolute;
//   bottom: 0;
//   width: 100%;
//   height: 200px;
//   background: url("/images/bluediv425x175long.png") no-repeat left center;
//   background-size: cover;

//   @include breakpoint('medium') {
//     background: url("/images/bluediv800x175.png") no-repeat left center;
//     background-size: cover;
//   }
//   @include breakpoint('large') {
//     background: url("/images/bluediv2000x300.png") no-repeat left center;
//     background-size: cover;
//   }
//   @include breakpoint('extra large') {
//     display: none;
//   }
// }