.content {
  width: 100%;
  height: 100%;
}

.container {
  width: calc(100% - 2em);
  max-width: 1170px;
  margin: 0 auto;
  border: 0;
}

.card-container {
  color: #000;
  background-color: #1B2735;
  border: double 3.5px;
  border-color: white;
  opacity: 1;
  box-shadow: 0 2px 2px 0 white;
  height: 450px;
  transition: 0.3s;
  margin: 0 auto;
  max-width: 80%;
  @include flexCenterColumn;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}