.ghost-button {
  background-color: transparent;
  justify-self: center;
  width: 10em;
  padding: 4px;
  color: #fff;
  border: 2.5px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
}