$palettes: (
    base: (
      primary: #3B8BEB,
      secondary: #1e247c,
      highlight: #E7E3D4,
      quiet: #C4DBF6,
      loud: #8590AA,
      newblue: #b23850
    ),
    links: (
      link: #0000EE,
      visited: #551A8B,
      hover: #800080,
      active: #EE0000
    ),
    type: (
      ww: #fff,
      bb: #000,
      gg: #AAA
    ),
    primary: (
      base: #3B8BEB,
      light: lighten(#3B8BEB, 15%),
      lighter: lighten(#3B8BEB, 30%),
      dark: darken(#3B8BEB, 15%),
      darker: darken(#3B8BEB, 30%)
    ),
    secondary: (
      base:   #B23850,
      light: lighten(#B23850, 15%),
      lighter: lighten(#B23850, 30%),
      dark: darken(#B23850, 15%),
      darker: darken(#B23850, 30%)
    ),
    highlight: (
      base: #E7E3D4,
      light: lighten(#E7E3D4, 15%),
      lighter: lighten(#E7E3D4, 30%),
      dark: darken(#E7E3D4, 15%),
      darker: darken(#E7E3D4, 30%)
    ),
    quiet: (
      base: #C4DBF6,
      light: lighten(#C4DBF6, 15%),
      lighter: lighten(#C4DBF6, 30%),
      dark: darken(#C4DBF6, 15%),
      darker: darken(#C4DBF6, 30%)
    ),
    loud: (
      base: #8590AA,
      light: lighten(#8590AA, 15%),
      lighter: lighten(#8590AA, 30%),
      dark: darken(#8590AA, 15%),
      darker: darken(#8590AA, 30%)
    ),
    bcss: (
      bcsswhite: #ffffff,
      bcssblack: #111111,
      bcssgray: #AAAAAA,
      bcsssilver: #DDDDDD,
      bcssblue: #0074D9,
      bcssaqua: #7FDBFF,
      bcssnavy: #001f3f,
      bcssteal: #39CCCC,
      bcssolive: #3D9970,
      bcssgreen: #2ECC40,
      bcsslime: #01FF70,
      bcssyellow: #FFDC00,
      bcssorange: #FF851B,
      bcssred: #FF4136,
      bcssmaroon: #85144b,
      bcssfuchsia: #F012BE,
      bcsspurple:  #B10DC9,
    )
);