* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}

html,
body {
  // background-color: #000;
  color: #fff;
  width: 100%;
  height: 100%;
}

body {
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  font-family: $body-font-family;
  letter-spacing: 0.04em;
  overflow-x: hidden;

  a {
    &:link {
      color: color('links', 'link');
    }
    &:visited {
      color: color('links', 'visited');
    }
    // &:hover {
    //   color: color('links', 'hover');
    // }
    // &:active {
    //   color: color('links', 'active');
    // }
  }

  h4 {
    font-size: $h6-size;
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
  }
  
  h3 {
    font-size: $h5-size;
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
  }
  
  h2 {
    font-size: $h4-size;
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
  }
  
  h1 {
    font-size: $h3-size;
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
  }

  @include breakpoint('larger') {
    h4 {
    font-size: $h4-size;
    }
  
    h3 {
    font-size: $h3-size;
    }
  
    h2 {
    font-size: $h2-size;
    }
  
    h1 {
    font-size: $h1-size;
    }
  }
}

