.add-padding-top {
  padding-top: 2em;
}

.add-extra-padding-top {
  padding-top: 4em;
}

.add-max-padding-top {
  padding-top: 8em;
}

.add-margin-top {
  margin-top: 2em;
}

.add-extra-margin-top {
  margin-top: 4em;
}

.add-max-margin-top {
  margin-top: 8em;
}

.addflex {
  @include flexAllCenterRow();
}

.addflex--end {
  @include flexStyle(row, null, flex-end, null, null)
}

.addflex--start {
  @include flexStyle(row, null, flex-start, null, null)
}

.hidden {
  display: none;
}